
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

$maincolor: #e3e3e3;


:root{
     // outline: auto;
     background: $maincolor;
     color: blueviolet;
     font-family: 'Ubuntu';
     zoom: 88%;
}

.pagecontainer{
     // border: solid green;
     background: $maincolor;
     max-width: 88vw;
     margin-left: auto;
     margin-right: auto;
     padding: 20px;
     // max-height: fit-content;
     

}

header {
     border-radius: 3px;
     padding: 5px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     // height: 20vh;
     // width: 100%;
     margin-bottom: 22px;
     box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.titlelogo{
     // background: blueviolet;
     // flex: 1;

     img {
          zoom: 25%;
     }
}


.navlist {
     // border: solid darksalmon;
     display: flex;
     justify-content: space-around;
     align-items: center;
     // flex: 1;


     input {
          padding: 5px;
          border-radius: 5px;
          margin: 10px;
     }
     
     button{
          padding: 10px;
          border-radius: 5px;


          &:hover{
               background-color: #fff888;
               cursor: pointer;
          }
     }


}

.navitems{
     list-style: none;
     display: inline-block;
     margin: 15px;

     &:hover{
          cursor: pointer;
     }
}

main {
     
     background: $maincolor;
     padding: 5px;
     height: 88vh;
     box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}


.section1{
     display: flex;
     justify-content: space-around;
     align-items: center;
     // height: 22vh;
}


.sec1left{
     width: 50%;
     padding: 5px;
     // text-align: right;

     img{
          zoom: 10%;
     }
}

.sec1right{
     width: 50%;
     padding: 5px;

     h1 {
          text-align: center;
          
     }

     p{
          text-align: center;
     }

     
}


.section2{
     display: flex;
     justify-content: space-around;
     align-items: center;
     height: 22vh;
}





footer{
     background-color: orchid;
     padding: 5px;
     // height: 20vh;
}
