

$mainbgcolor: #e2e2e2;

$primarycolor: #808;
$primaryshadelight: #c6c;

$secondarycolor: #088;
$secondaryshade1: #066;
// $secondarycolor: #ff8822;

$productbgcolor: #f8f8f8;

$bgshade1: #f0f0f0;
$bgshade2: #dedede;
$bgshade3: #bfbfbf;

$blackgrayshade1: #888888;
$blackgrayshade2: #666666;
// $blackgrayshade: rgb(80, 80, 80);
$blackgrayshade3: #333333;
$blackgrayshade4: #101010;
$blackgrayshade5: #010101;

$footercolor: #242424;
$subfootercolor: #000123;
$footerheading: #527d88;


$margin-leftright: 10vw;